@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --violet: #5e3db3;
    --dark-violet: #090c35;
  }
}

@layer components {
  /* Index Page */
  .title-section {
    @apply text-[50px] text-gray-300;
  }

  .number-order {
    @apply text-sm text-black;
  }

  .title-slide {
    @apply text-[28px] text-gray-300;
  }

  .desc-slide {
    @apply text-[15px] text-black;
  }
}

body {
  margin: 0;
  padding: 0;
}

.image-wrap {
  position: relative;
}

.image-wrap .image {
  object-fit: contain;
  position: relative !important;
}

/* Swiper Slide */
.swiper-contain .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: var(--violet);
}

.swiper-contain .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
}
